.card-img-top {
  height: 200px;
  object-fit: cover;
}
.property-image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}


.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
