body {
  background-image: url("../../assets/PNA.jpg");
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  /* Otros estilos opcionales, como el color de fondo o la posición */
}
